* {
    margin: 0;
    padding: 0;
}

html, body {margin: 0; height: 100%; overflow: hidden}

body{
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    background: linear-gradient(120deg, #155799, #159957);
}

.title{
    position: absolute;
    top: 36vh;
    left: 50vw;
    width: 100%;
    transform: translateY(-50%) translateX(-50%);
    text-align: center;
    font-size: 4vh;
    font-weight: bold;
    color: white;
}

.button-fact{
    position: absolute;
    top: 50vh;
    left: 50vw;
    transform: translateY(-50%) translateX(-50%);
    height: 7vh;
    font-size: 2.2vh;
    border-radius: 0.8vh;
    width: 90vw;
    display: flex;
    justify-content: center;
    align-items: center;
    border: #bedbd964 1px solid;
    background-color: #b6d2d017;
    cursor: pointer;
    color: #BEDBD9;
    font-weight: 500;
}

.button-fact:hover{
    background-color: #b6d2d066;
}

.cat-emoji{
    transform: translateY(8px);
}
