* {
    margin: 0;
    padding: 0;
}

html, body {margin: 0; height: 100%; overflow: hidden}

body{
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    background: linear-gradient(120deg, #155799, #159957);
}

.container{
    margin-top: 90px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.title{
    text-align: center;
    font-size: 7vw;
    font-weight: bold;
    color: white;
    margin-bottom: 12vw;
    margin-top: -12vw;
}

.button-fact{
    height: 11.5vw;
    transform: translateY(-50%);
    font-size: 4vw;
    border-radius: 5px;
    width: 90vw;
    display: flex;
    justify-content: center;
    align-items: center;
    border: #bedbd964 1px solid;
    background-color: #b6d2d00f;
    cursor: pointer;
    color: #BEDBD9;
    font-weight: 500;
}

.button-fact:hover{
    background-color: #b6d2d066;
}

.cat-emoji{
    transform: translateY(8px);
}


@media screen and (max-width: 768px){
    .container{
        margin-top: 0;
    }

    .title{
        transform: translateY(-20px);
    }
}